@import "./variable.scss";
@import "./common.scss";

input,textarea{
	@apply border;
	@apply gc-border-green;
	@apply rounded;
	@apply gc-text-black;
	accent-color: $gc-color-green;
	&:focus{
		outline: 1px solid $gc-color-green;
	}
}


select{
	&:focus{
		outline: 2px solid $gc-color-green;
	}
}
